.body {

    background-color: white;
	margin-left:0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;

}

.container {
	display: flex;
    flex-direction : column;
    justify-content: space-evenly;
}

#nav_bar{
	display:flex;
	justify-content:space-evenly;
	width:100%;
	height:253px
}

#nav_bar img{
	width:461px;
	height:161px;
	margin: auto;
}

#nav_bar a{
	margin:auto;
	font-family: Helvetica;
	font-size: 32px;
	font-weight: 700;
	line-height: 37px;
	letter-spacing: 0em;
	text-align: center;
	color: #000060;
	text-decoration:none;
	width:15%;
}

.demande {
    display: flex;
    width : 100%;
    height: 626px;

}

.demande-container {
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	padding-left:100px;
	padding-right: 100px;
}

.red-title {
    width: 921px;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 80px;
	line-height: 92px;
	text-align: center;
	color: #C40000;
	margin:auto;
	margin-top:173px;
	margin-bottom:36px;
}

.bold-text {
    width: 583px;
    height: 134px;
    left: 587px;
    top: 686px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    text-align: center;

    color: #000060;

	margin-top: 40px;

}

.button {
    display:flex;
	width: 434.03px;
	height: 83px;
	background: #000060;
	border-radius: 100px;
	color:white;
	margin:auto;
	margin-top:51px;
	margin-bottom:145px;
}

.button a {
    width: 434.03px;
	height: 83px;
	border-radius: 100px;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	text-decoration:none;
	color:white;
	padding-top:22px
}

#footer{
	display:flex;
	flex-direction:column;
	background-color:#000060;
	height:489px;
	width: 100%;
}

#footer_h{
	width:100%;
	height:325px;
	background-color:#000060;
	display:flex;
	justify-content:space-evenly;
	margin-top:100px;
}

#footer_h div{
	margin:auto;
}

#liens{
	display:flex;
	width:800px;
	height:169px;
	justify-content:space-evenly;
}

#liens a {
	width:300px;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	text-decoration-line: underline;
	color:#CECECE;
	margin:auto;
}

#footer_b{
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 32px;
	text-align: center;
	color: #CECECE;
	background-color:#000060;
	width:100%;
	height:100px;
	margin-top:64px;
	margin-bottom:0px;
}

@media screen and (max-width:1278px){
	
	#footer_h{
		flex-direction:column;
		width:100%;
	}
	
	#footer_b{
		margin-top:0px;
		width:100%;
	}
}