.body {

    background-color: white;
	margin-left:0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
}

.container {
	display: flex;
    flex-direction : column;
    justify-content: space-evenly;
}

#nav_bar{
	display:flex;
	justify-content:space-evenly;
	width:100%;
	height:253px
}

#nav_bar img{
	width:461px;
	height:161px;
	margin: auto;
}

#nav_bar a{
	margin:auto;
	font-family: Helvetica;
	font-size: 32px;
	font-weight: 700;
	line-height: 37px;
	letter-spacing: 0em;
	text-align: center;
	color: #000060;
	text-decoration:none;
	width:15%;
}

.mentions-legales {
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    height : auto;
	margin-bottom: 30px;

}

.light-text {
    width: 1200px;
    height: auto;
    left: 143px;
    top: 625px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-align: center;

    color: #000060;

	margin-left : 30px;

    
}

#footer{
	display:flex;
	flex-direction:column;
	background-color:#000060;
	height:489px;
	width: 100%;
}

#footer_h{
	width:100%;
	height:325px;
	background-color:#000060;
	display:flex;
	justify-content:space-evenly;
	margin-top:100px;
}

#footer_h div{
	margin:auto;
}

#liens{
	display:flex;
	width:800px;
	height:169px;
	justify-content:space-evenly;
}

#liens a {
	width:300px;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	text-decoration-line: underline;
	color:#CECECE;
	margin:auto;
}

#footer_b{
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 32px;
	text-align: center;
	color: #CECECE;
	background-color:#000060;
	width:100%;
	height:100px;
	margin-top:64px;
	margin-bottom:0px;
}

@media screen and (max-width:1278px){
	
	#footer_h{
		flex-direction:column;
		width:100%;
	}
	
	#footer_b{
		margin-top:0px;
		width:100%;
	}
}
@media only screen and (max-width: 600px) {
	.mentions-legales {
	  font-size: 14px;
	}
	.light-text {
	  line-height: 1.5;
	}
  }