html{
	scroll-behavior: smooth;
}

body{
	margin-left:0;
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
}

#content{
	display:flex;
	flex-direction: column;
}

#banniere{
	width:100%;
	height:1117px;
	display:flex;
	flex-direction: column;
	background-image:url(../images/banniere.png);
	background-size:cover;
}

#nav_bar{
	display:flex;
	justify-content:space-evenly;
	width:100%;
	height:253px
}

#nav_bar img{
	width:461px;
	height:161px;
	margin: auto;
	cursor: pointer;
}

#nav_bar a{
	margin:auto;
	font-family: Helvetica;
	font-size: 32px;
	font-weight: 700;
	line-height: 37px;
	letter-spacing: 0em;
	text-align: center;
	color: #CECECE;
	text-decoration:none;
}

#txt_ban{
	width: 1016px;
	height: 181px;
	font-family: Helvetica;
	font-size: 80px;
	font-weight: 700;
	line-height: 92px;
	letter-spacing: 0em;
	text-align: center;
	margin:auto;
	margin-bottom:0;
	
	
	color: white;
}

#bouton {
	width: 410px;
	height: 83px;
	background: #C40000;
	border-radius: 100px;
	margin:auto;
	margin-top:65px;
}

#bouton a{
	text-decoration:none;
}

#txt_btn{
	text-align:center;
	color:white;
	font-family: Helvetica;
	font-size: 32px;
	font-weight: 700;
	line-height: 37px;
	letter-spacing: 0em;
	margin-top:22px;
}

#search_club{
	width:100%;
	height:1494px;
	background-color:#000060;
	display:flex;
	flex-direction:column;
}

#title_rcu{
	color: white;
	font-size:68px;
	text-align:center;
	margin-top:131px;
}

#in1{
	width: 50%;
	height: 83px;
	border: 3px solid white;
	border-radius:100px;
	margin:auto;
	margin-top:0px;
	margin-bottom:0px;
	font-size:32px;
	padding-left:36px;
	padding-right:36px;
}


#filtre{
	display:flex;
	margin:auto;
	margin-top:54px;
	margin-bottom:0px;
}


#rayon{
	width:485px;
	height:43px;
	display:flex;
	flex-basis:40%;
	color : white;
	justify-content: space-evenly;
	margin:auto;
	margin-right:100px;
}

#Tranche_dage{
	display:flex;
	flex-basis:60%;
	color : white;
	justify-content: center;
}

#filtre_txt{
	color:white;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	margin:auto;
	margin-left:10px;
}

h1{
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	color: white;
	margin-top:0px;
	margin-bottom:0px;
}

input{
	width:30px;
	height:30px;
	border-radius: 5px;
	margin:auto;
	flex-wrap:wrap;
}

#appd{
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 80px;
	line-height: 92px;
	text-align: center;
	color: #C40000;
	margin-top:129px;
}

#appd1{
	height: 428px;
	display:flex;
	justify-content: space-evenly;
	margin-top:87px;
}

#img1{
	margin:auto;
}
#txt1{
	color: #000060;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	width: 583px;
	height: 193px;
	margin:auto;
}

#appd2{
	width:100%;
	height: 428px;
	display:flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	margin-top:60px;
	margin-bottom:147px;
}

#img2{
	margin:auto;
}
#txt2{
	color: #000060;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	width: 583px;
	height: 131px;
	margin:auto;
}

#footer{
	display:flex;
	flex-direction:column;
	background-color:#000060;
	height:489px;
	width: 100%;
}

#footer_h{
	width:100%;
	height:325px;
	background-color:#000060;
	display:flex;
	justify-content:space-evenly;
	margin-top:100px;
}

#footer_h div{
	margin:auto;
}

#liens{
	display:flex;
	width:800px;
	height:169px;
	justify-content:space-evenly;
}

#liens a {
	width:300px;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	text-decoration-line: underline;
	color:#CECECE;
	margin:auto;
}

#footer_b{
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 32px;
	text-align: center;
	color: #CECECE;
	background-color:#000060;
	width:100%;
	height:100px;
	margin-top:64px;
	margin-bottom:0px;
}

#mapid{
	display:flex;
	height:815px;
	width:1348px;
	margin:auto;
	margin-top:54px;
}

@media screen and (max-width:1278px){
	
	#footer_h{
		flex-direction:column;
		width:100%;
	}
	
	#footer_b{
		margin-top:0px;
		width:100%;
	}
	
	#appd{
		width:700px;
		margin:auto;
		margin-top:80px;
	}
	
	#appd1{
		flex-direction:column;
		height:800px;
	}
	
	#appd2{
		flex-direction:column;
		height:800px;
	}
	
	#txt1{
		margin-top:108px;
	}
	
	#txt2{
		margin-top:108px;
	}
	
	#txt_ban{
		width:700px;
		margin-top:70px;
	}
	
	#bouton{
		margin-top:150px;
	}
	
	#filtre{
		display:flex;
		margin:auto;
		margin-top:15px;
		margin-bottom:0px;
		flex-direction:column;
	}

	#rayon{
		width:525px;
		justify-content:center;
	}

	#Tranche_dage{
		width:770px;
		height:50px;
		justify-content:center;
		margin-top:15px;
	}

	#Tranche_dage #filtre_txt{
		width:100px;
		text-align:center
	}

	#filtre_txt{
		width:150px;
	}
	
	h1{
	 width:350px;
	}
	
	#Tranche_dage h1{
		width:600px;
	}

	#c_b{
		width:30px;
		height:30px;
	}

	#Tranche_dage #filtre_txt{
		width:400px;
	}

}